In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Очистка данных

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/pupils_ruma456_2019_2020.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (0,1,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
data = data[data['Отметка'] != ' ']

In [ ]:
data[['Балл']] = data[['Балл']].apply(pd.to_numeric)##количественные 

data[['Класс', 'Код_предмета', 'Код_ученика', 'Отметка', 'Year']] = data[['Класс', 'Код_предмета', 'Код_ученика', 'Отметка', 'Year']].astype(str)#качественные

In [ ]:
data.head()

  Класс Код_предмета      ЛогинОО Код_ученика  Балл Отметка  Year
0     4            2  sch01110001        4001    11       4  2019
1     4            2  sch01110001        4002    18       5  2019
2     4            2  sch01110001        4003     9       3  2019
3     4            2  sch01110001        4004    11       4  2019
4     4            2  sch01110001        4005     8       3  2019

In [ ]:
data[data['Класс'] == 'Класс'].head()

Empty DataFrame
Columns: [Класс, Код_предмета, ЛогинОО, Код_ученика, Балл, Отметка, Year]
Index: []

In [ ]:
data['Класс'].value_counts()

5    5527165
4    3086470
6    2607711
Name: Класс, dtype: int64

In [ ]:
data['Отметка'].value_counts()

4    4212508
3    3470886
5    2090689
2    1200287
0     246976
Name: Отметка, dtype: int64

In [ ]:
data['Отметка'].unique()

array(['4', '5', '3', '2', '0'], dtype=object)

In [ ]:
data[data['Отметка'] == '0'].head(10000)

        Класс Код_предмета      ЛогинОО Код_ученика  Балл Отметка  Year
1549526     5            2  sch01110062        5001     8       0  2019
1549527     5            2  sch01110062        5002    17       0  2019
1549528     5            2  sch01110062        5003    12       0  2019
1549529     5            2  sch01110062        5004     7       0  2019
1549530     5            2  sch01110062        5005    11       0  2019
...       ...          ...          ...         ...   ...     ...   ...
1691631     5            2  sch11113206        5060     9       0  2019
1691632     5            2  sch11113206        5061     7       0  2019
1691633     5            2  sch11113206        5062    14       0  2019
1691634     5            2  sch11113206        5063     7       0  2019
1691635     5            2  sch11113206        5064     7       0  2019

[10000 rows x 7 columns]

In [ ]:
data['Отметка'].unique()

array([4, 5, 3, 2, 0])

In [ ]:
data[data['Отметка'] == "4"].describe()
#describe - описательный анализ
#статистика по людям которые получили 4
#mean - среднее значение атрибута (21)

               Балл          Year
count  4.212508e+06  4.212508e+06
mean   2.130000e+01  2.019453e+03
std    9.405378e+00  4.977931e-01
min    8.000000e+00  2.019000e+03
25%    1.200000e+01  2.019000e+03
50%    2.400000e+01  2.019000e+03
75%    3.000000e+01  2.020000e+03
max    3.800000e+01  2.020000e+03

In [ ]:
data[data['Отметка'] == "3"].describe()
'''count - кол-во записей по 
mean - среднее значение атрибута (15)
std - корень дисперсии выборки (можно сравнить разброс выборки чем больше тем больше разброс чем меньше тем ближе к ср знач)
min - самое мал значение баллов
50%- медиана
25%
75% квартили
max - максимум
мы проверили что на данный момент нельзя сделать однозначное отображение балла в оценку
'''

               Балл          Year
count  3.470886e+06  3.470886e+06
mean   1.502899e+01  2.019533e+03
std    6.901538e+00  4.988959e-01
min    5.000000e+00  2.019000e+03
25%    8.000000e+00  2.019000e+03
50%    1.600000e+01  2.020000e+03
75%    2.100000e+01  2.020000e+03
max    2.800000e+01  2.020000e+03

In [ ]:
data[(data['Отметка'] == "4") & (data['Код_предмета'] == "2") ].describe()

               Балл
count  2.065341e+06
mean   1.213241e+01
std    1.312786e+00
min    8.000000e+00
25%    1.100000e+01
50%    1.200000e+01
75%    1.300000e+01
max    1.400000e+01

In [ ]:
data[(data['Отметка'] == "3") & (data['Код_предмета'] == "2") ].describe()

               Балл
count  1.556410e+06
mean   8.010509e+00
std    1.127489e+00
min    5.000000e+00
25%    7.000000e+00
50%    8.000000e+00
75%    9.000000e+00
max    1.000000e+01

In [ ]:
data['Отметка'].value_counts()

4    4212508
3    3470886
5    2090689
2    1200287
0     246976
Name: Отметка, dtype: int64

In [ ]:
data.loc[(data['Отметка'] == "4") & (data['Код_предмета'] == "2") & (data['Балл'] == "0")]

Empty DataFrame
Columns: [Класс, Код_предмета, ЛогинОО, Код_ученика, Балл, Отметка, Year]
Index: []

In [ ]:
data.loc[(data['Отметка'] == "3") & (data['Код_предмета'] == "2")]

        Класс Код_предмета      ЛогинОО Код_ученика  Балл Отметка  Year
2           4            2  sch01110001        4003     9       3  2019
4           4            2  sch01110001        4005     8       3  2019
7           4            2  sch01110001        4008     8       3  2019
9           4            2  sch01110001        4010     7       3  2019
13          4            2  sch01110001        4015     7       3  2019
...       ...          ...          ...         ...   ...     ...   ...
8587090     6            2  sch78186118       60119     8       3  2020
8587091     6            2  sch78186118       60121     9       3  2020
8587095     6            2  sch78186118       60125     9       3  2020
8587096     6            2  sch78186118       60126     7       3  2020
8587098     6            2  spo66160020       60001     8       3  2020

[1556410 rows x 7 columns]

In [ ]:
def get_slice(x):
  return x[3:5]

In [ ]:
get_slice([1,2,3,4,5,5])

[4, 5]

In [ ]:
data['region_code'] = data['ЛогинОО'].apply(get_slice)

In [ ]:
data.head(100000000000000000000000000000)

,Класс,Код_предмета,ЛогинОО,Код_ученика,Балл,Отметка,Year,region_code
0,4,2,sch01110001,4001,11,4,2019,01
1,4,2,sch01110001,4002,18,5,2019,01
2,4,2,sch01110001,4003,9,3,2019,01
3,4,2,sch01110001,4004,11,4,2019,01
4,4,2,sch01110001,4005,8,3,2019,01
...,...,...,...,...,...,...,...,...
11221344,5,1,sch87176023,50212,10,2,2020,87
11221345,5,1,sch87176023,50213,21,3,2020,87
11221346,5,1,sch87176023,50214,21,3,2020,87
11221347,5,1,sch87176023,50216,21,3,2020,87
11221348,5,1,sch87176023,50219,31,4,2020,87

In [ ]:
data.loc[(data['region_code'] == '90') ]

,Класс,Код_предмета,ЛогинОО,Код_ученика,Балл,Отметка,Year,region_code
1541580,4,2,sch90103001,4001,9,3,2019,90
1541581,4,2,sch90103001,4002,16,5,2019,90
1541582,4,2,sch90103001,4003,13,4,2019,90
1541583,4,2,sch90103001,4004,17,5,2019,90
1541584,4,2,sch90103001,4005,13,4,2019,90
...,...,...,...,...,...,...,...,...
11205966,5,1,sch90103046,50013,36,5,2020,90
11205967,5,1,sch90106012,50001,20,3,2020,90
11205968,5,1,sch90106012,50002,28,4,2020,90
11205969,5,1,sch90106012,50003,29,4,2020,90
11205970,5,1,sch90106012,50004,26,4,2020,90

In [ ]:
data[['region_code']] = data[['region_code']].apply(pd.to_numeric)

In [ ]:
Контекстные_данные = pd.read_excel('/content/drive/MyDrive/Конт_данныеОО.xlsx')

In [ ]:
Контекстные_данные.head()

,Логин ОО,Где расположена образовательная организация?,Наименование населенного пункта,Размер населенного пункта,ОО является специальной (коррекционной),Количество обучающихся в ОО (в сумме по всем классам)
0,Логин ОО,NaN,NaN,NaN,NaN,NaN
1,sch05153602,"4. Населенный пункт сельского типа (село, хуто...",село Шумлелик,1. Менее 1 тыс. человек,Нет,207
2,sch05153601,"4. Населенный пункт сельского типа (село, хуто...",Червленные-буруны,2. 1–5 тыс. человек,Да,287
3,sch05153598,"4. Населенный пункт сельского типа (село, хуто...",Ортатюбе,3. 5–10 тыс. чел,Нет,110
4,sch05153594,"4. Населенный пункт сельского типа (село, хуто...",Кумли,1. Менее 1 тыс. человек,Нет,96

In [ ]:
Контекстные_данные.rename(columns={'Логин ОО':'login', 
                      'Где расположена образовательная организация?':'location_type', 
                      'Наименование населенного пункта':'location', 
                      'Размер населенного пункта':'pop_size', 
                      'ОО является специальной (коррекционной)':'special_flg',
                      'Количество обучающихся в ОО (в сумме по всем классам)':'student_cnt'},
            inplace=True)

In [ ]:
Контекстные_данные = Контекстные_данные[1:]
#костыль

In [ ]:
Контекстные_данные.head()

,login,location_type,location,pop_size,special_flg,student_cnt
1,sch05153602,"4. Населенный пункт сельского типа (село, хуто...",село Шумлелик,1. Менее 1 тыс. человек,НЕТ,207
2,sch05153601,"4. Населенный пункт сельского типа (село, хуто...",Червленные-буруны,2. 1–5 тыс. человек,ДА,287
3,sch05153598,"4. Населенный пункт сельского типа (село, хуто...",Ортатюбе,3. 5–10 тыс. чел,НЕТ,110
4,sch05153594,"4. Населенный пункт сельского типа (село, хуто...",Кумли,1. Менее 1 тыс. человек,НЕТ,96
5,sch05153592,"4. Населенный пункт сельского типа (село, хуто...",Карагас,2. 1–5 тыс. человек,НЕТ,220

In [ ]:
Контекстные_данные['special_flg'].value_counts()

НЕТ    36103
ДА       797
Name: special_flg, dtype: int64

In [ ]:
Контекстные_данные['special_flg'] = Контекстные_данные['special_flg'].str.upper()

In [ ]:
Контекстные_данные['special_flg'].value_counts()

НЕТ    36103
ДА       797
Name: special_flg, dtype: int64

In [ ]:
Контекстные_данные[Контекстные_данные['student_cnt']=="Руэм"].value_counts()

39      168
27      162
47      160
40      159
42      158
       ...
1791      1
3278      1
3127      1
2301      1
3110      1
Name: student_cnt, Length: 2264, dtype: int64

In [ ]:
Контекстные_данные[['student_cnt']] = Контекстные_данные[['student_cnt']].apply(pd.to_numeric)##количественные

ValueError: ignored

In [ ]:
ob = pd.read_excel('/content/drive/MyDrive/OBSchAYa.xlsx')

In [ ]:
ob.head(100)

,названиерегиона,region_code,ввп,объекты
0,Республика Адыгея (Адыгея),1.0,309184.1,5.0
1,Республика Башкортостан,2.0,425161.0,11.0
2,Республика Бурятия,3.0,307558.8,42.0
3,Республика Алтай,4.0,283451.4,7.0
4,Республика Дагестан,5.0,239640.7,29.0
...,...,...,...,...
80,Ненецкий автономный округ (Архангельская область),83.0,5206287.1,2.0
81,Ханты-Мансийский автономный округ - Югра (Тюме...,86.0,1994630.3,1.0
82,Чукотский автономный округ,87.0,2404271.2,10.0
83,Ямало-Ненецкий автономный округ (Тюменская обл...,89.0,5072483.6,3.0
84,Город федерального значения Севастополь,92.0,295304.9,48.0

In [ ]:
ob.tail(30)

,названиерегиона,регион,ввп,объекты
55,Оренбургская область,56.0,538971.9,38.0
56,Орловская область,57.0,390170.2,67.0
57,Пензенская область,58.0,379820.4,36.0
58,Пермский край,59.0,541930.2,72.0
59,Псковская область,60.0,325659.6,55.0
60,Ростовская область,61.0,403949.1,44.0
61,Рязанская область,62.0,412845.1,74.0
62,Самарская область,63.0,505093.4,13.0
63,Саратовская область,64.0,358480.4,3.0
64,Сахалинская область,65.0,2059206.5,2.0
65,Свердловская область,66.0,588270.0,5.0
66,Смоленская область,67.0,386274.8,103.0
67,Тамбовская область,68.0,378455.8,35.0
68,Тверская область,69.0,391722.2,264.0
69,Томская область,70.0,518179.5,22.0
70,Тульская область,71.0,486544.2,15.0
71,Тюменская область,72.0,1934463.9,13.0
72,Ульяновская область,73.0,360112.2,11.0
73,Челябинская область,74.0,467537.3,14.0
74,Забайкальский край,75.0,402594.6,12.0
75,Ярославская область,76.0,495102.2,28.0
76,Город Москва столица Российской Федерации горо...,77.0,1567644.8,239.0
77,Город Санкт-Петербург город федерального значения,78.0,971158.0,115.0
78,Еврейская автономная область,79.0,400340.5,1.0
79,Республика Крым,82.0,270363.8,15.0
80,Ненецкий автономный округ (Архангельская область),83.0,5206287.1,2.0
81,Ханты-Мансийский автономный округ - Югра (Тюме...,86.0,1994630.3,1.0
82,Чукотский автономный округ,87.0,2404271.2,10.0
83,Ямало-Ненецкий автономный округ (Тюменская обл...,89.0,5072483.6,3.0
84,Город федерального значения Севастополь,92.0,295304.9,48.0

In [ ]:
ob[['регион']] = ob[['регион']].apply(pd.to_numeric)

In [ ]:
ob.tail(30)

,названиерегиона,регион,ввп,объекты
55,Оренбургская область,56.0,538971.9,38.0
56,Орловская область,57.0,390170.2,67.0
57,Пензенская область,58.0,379820.4,36.0
58,Пермский край,59.0,541930.2,72.0
59,Псковская область,60.0,325659.6,55.0
60,Ростовская область,61.0,403949.1,44.0
61,Рязанская область,62.0,412845.1,74.0
62,Самарская область,63.0,505093.4,13.0
63,Саратовская область,64.0,358480.4,3.0
64,Сахалинская область,65.0,2059206.5,2.0
65,Свердловская область,66.0,588270.0,5.0
66,Смоленская область,67.0,386274.8,103.0
67,Тамбовская область,68.0,378455.8,35.0
68,Тверская область,69.0,391722.2,264.0
69,Томская область,70.0,518179.5,22.0
70,Тульская область,71.0,486544.2,15.0
71,Тюменская область,72.0,1934463.9,13.0
72,Ульяновская область,73.0,360112.2,11.0
73,Челябинская область,74.0,467537.3,14.0
74,Забайкальский край,75.0,402594.6,12.0
75,Ярославская область,76.0,495102.2,28.0
76,Город Москва столица Российской Федерации горо...,77.0,1567644.8,239.0
77,Город Санкт-Петербург город федерального значения,78.0,971158.0,115.0
78,Еврейская автономная область,79.0,400340.5,1.0
79,Республика Крым,82.0,270363.8,15.0
80,Ненецкий автономный округ (Архангельская область),83.0,5206287.1,2.0
81,Ханты-Мансийский автономный округ - Югра (Тюме...,86.0,1994630.3,1.0
82,Чукотский автономный округ,87.0,2404271.2,10.0
83,Ямало-Ненецкий автономный округ (Тюменская обл...,89.0,5072483.6,3.0
84,Город федерального значения Севастополь,92.0,295304.9,48.0

In [ ]:
tr = pd.read_excel('/content/drive/MyDrive/трд1.xlsx')

In [ ]:
tr.head(100)

,Регион,Транспортная доступность,Ранг,Индекс транспортной доступности: 0 - 1,reg_num
0,Тверская обл.,18.01,2.0,0.59,69
1,Калужская обл.,17.55,3.0,0.58,40
2,Владимирская обл.,17.47,4.0,0.57,33
3,Рязанская обл.,17.34,5.0,0.57,62
4,Тульская обл.,17.06,6.0,0.56,71
...,...,...,...,...,...
81,Московская область,NaN,NaN,0.70,50
82,г. Москва,NaN,NaN,1.00,77
83,Республика Крым,NaN,NaN,0.35,82
84,Чукотский автономный округ,NaN,NaN,0.12,87
85,"ОУ, находящиеся за пределами РФ",NaN,NaN,0.34,90

In [ ]:
tr[['reg_num ']] = tr[['reg_num ']].apply(pd.to_numeric)

In [ ]:
tr.head(1000)

,Регион,Транспортная доступность,Ранг,Индекс транспортной доступности: 0 - 1,reg_num
0,Тверская обл.,18.01,2.0,0.59,69
1,Калужская обл.,17.55,3.0,0.58,40
2,Владимирская обл.,17.47,4.0,0.57,33
3,Рязанская обл.,17.34,5.0,0.57,62
4,Тульская обл.,17.06,6.0,0.56,71
...,...,...,...,...,...
81,Московская область,NaN,NaN,0.70,50
82,г. Москва,NaN,NaN,1.00,77
83,Республика Крым,NaN,NaN,0.35,82
84,Чукотский автономный округ,NaN,NaN,0.12,87
85,"ОУ, находящиеся за пределами РФ",NaN,NaN,0.34,90

In [ ]:
ob.rename(columns={'регион':'region_code',},
            inplace=True)
tr.rename(columns={'reg_num ':'region_code',},
            inplace=True)

In [ ]:
data_un = pd.merge(ob, tr, on='region_code', how='inner')

In [ ]:
data_un.head(1000)

,названиерегиона,region_code,ввп,объекты,Регион,Транспортная доступность,Ранг,Индекс транспортной доступности: 0 - 1
0,Республика Адыгея (Адыгея),1.0,309184.1,5.0,Респ. Адыгея,8.38,54.0,0.28
1,Республика Башкортостан,2.0,425161.0,11.0,Респ. Башкортостан,12.45,21.0,0.41
2,Республика Бурятия,3.0,307558.8,42.0,Респ. Бурятия,5.23,71.0,0.17
3,Республика Алтай,4.0,283451.4,7.0,Респ. Алтай,6.25,66.0,0.21
4,Республика Дагестан,5.0,239640.7,29.0,Респ. Дагестан,9.68,41.0,0.32
...,...,...,...,...,...,...,...,...
80,Ненецкий автономный округ (Архангельская область),83.0,5206287.1,2.0,Ненецкий АО,4.77,73.0,0.16
81,Ханты-Мансийский автономный округ - Югра (Тюме...,86.0,1994630.3,1.0,Ханты-Мансийский АО – Югра,6.81,65.0,0.22
82,Чукотский автономный округ,87.0,2404271.2,10.0,Чукотский автономный округ,NaN,NaN,0.12
83,Ямало-Ненецкий автономный округ (Тюменская обл...,89.0,5072483.6,3.0,Ямало-Ненецкий АО,4.74,74.0,0.16
84,Город федерального значения Севастополь,92.0,295304.9,48.0,Респ. Крым и Севастополь,10.68,37.0,0.35

In [ ]:
data_un = data_un.drop(['Регион','Ранг',	'Индекс транспортной доступности: 0 - 1'], axis=1)

In [ ]:
data_un.head(1000)

,названиерегиона,region_code,ввп,объекты,Транспортная доступность
0,Республика Адыгея (Адыгея),1.0,309184.1,5.0,8.38
1,Республика Башкортостан,2.0,425161.0,11.0,12.45
2,Республика Бурятия,3.0,307558.8,42.0,5.23
3,Республика Алтай,4.0,283451.4,7.0,6.25
4,Республика Дагестан,5.0,239640.7,29.0,9.68
...,...,...,...,...,...
75,Еврейская автономная область,79.0,400340.5,1.0,4.26
76,Ненецкий автономный округ (Архангельская область),83.0,5206287.1,2.0,4.77
77,Ханты-Мансийский автономный округ - Югра (Тюме...,86.0,1994630.3,1.0,6.81
78,Ямало-Ненецкий автономный округ (Тюменская обл...,89.0,5072483.6,3.0,4.74
79,Город федерального значения Севастополь,92.0,295304.9,48.0,10.68

In [ ]:
data_un.to_excel("output1.xlsx")